.parent {
	display: flex;
	justify-content: center;
}

.card {
	position: relative;
	width: 354px;
	height: 483px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	margin: 5px;
	border-radius: 14px;
	transition: 50ms;
}

@media screen and (max-width: 380px) {
	.card {
		margin: 0 auto;
		transform: scale(0.75);
		height: calc(483px * 0.75);
		width: calc(354px * 0.75);
	}

	.card img {
		max-width: calc(327px * 0.75);
		max-height: calc(327px * 0.75);
	}
}

.card img {
	width: 327px;
	height: 327px;
	margin: 10px auto 0 auto;
	user-select: none;
}

.card p {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	user-select: none;
}

.card .pricing {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	width: 95%;
	margin: 5px auto;
	bottom: 5px;
}

.pricing p {
	font-size: 16px;
	font-weight: 500;
}

.pricing button {
	font-size: 15px;
	width: 125px;
	background-color: blue;
	color: white;
	border: 1px solid black;
	outline: none;
	border-radius: 3px;
	padding: 3px;
	font-weight: 700;
	transition: 150ms;
}

.pricing button:hover {
	cursor: pointer;
	background-color: white;
	color: blue;
}

.category {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 5px;
}

.category p {
	font-size: 12px;
}
