.table {
	position: relative;
	transition: 150ms;
}

.table #notEmpty {
	font-size: 25px;
	font-weight: bold;
}

.table #empty {
	font-size: 25px;
	font-weight: bold;
	margin: auto 0;
}

.table table {
	width: 90%;
	margin: 5px auto;
	border: 1px solid black;
}

thead {
	background-color: #fbad53;
	font-weight: bold;
}

tbody {
	font-size: 0.85em;
}

tr {
	position: relative;
}

tr:nth-child(odd) {
	background-color: transparent;
}

tr:nth-child(even) {
	background-color: #f6e9b5c6;
}

.title {
	width: 40%;
	text-align: center;
}

.price {
	width: 25%;
	text-align: center;
}

.amount {
	width: 35%;
	text-align: center;
}

.amount .amounting {
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}

.amounting button {
	width: 5rem;
	height: 20px;
	margin: 0 5px;
	padding: 2px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 3px;
	outline: none;
	background-color: transparent;
	transition: 150ms;
	color: #000;
}

.amounting .buttons {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
}

.amounting button:hover {
	cursor: pointer;
}

.amounting button:nth-child(1):hover {
	color: #fff;
	background-color: #12cb05;
}

.amounting button:nth-child(2):hover {
	color: #fff;
	background-color: #eae608;
}

.amounting button:nth-child(3):hover {
	color: #fff;
	background-color: #fc0420;
}

@media screen and (max-width: 1140px) {
	.amounting {
		flex-direction: column;
	}

	.amounting button {
		width: 4rem;
	}
}

@media screen and (max-width: 1040px) {
	.amounting .buttons {
		flex-direction: column;
	}
}

@media screen and (max-width: 500px) {
	.table #empty,
	.table #notEmpty {
		font-size: 20px;
	}

	thead {
		font-size: 0.75em;
	}

	tbody {
		font-size: 0.7em;
	}

	.amounting button {
		font-size: 14px;
		margin: 2px auto;
	}

	.totalCost {
		font-size: 18px;
	}
}
