.goodsList {
	position: relative;
	width: 90%;
	top: 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}
