.typebar {
	position: relative;
	width: 75%;
	top: 60px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: row wrap;
	padding: 5px;
}

.typebar .notActive,
.typebar .active {
	font-size: 16px;
	font-weight: bold;
	width: 150px;
	height: 50px;
	padding: 4px;
	margin: 5px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	justify-self: center;
	background-color: aqua;
	color: white;
	transition: 150ms;
	border: 1px solid black;
	border-radius: 2px;
}

.typebar .notActive:hover,
.typebar .active:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

.typebar .active {
	background-color: red;
	color: bisque;
}

.typebar .active:hover {
	background-color: aqua;
	color: white;
}

.categories {
	height: 50px;
	width: 50%;
	display: flex;
	align-items: center;
	font-size: 22px;
	padding: 2px 4px;
}

.categories p {
	justify-self: flex-start;
}

.categories:hover {
	cursor: pointer;
}
