* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: 0.5s ease-in-out;
}

.App {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-color: #f6efdb;
	font-family: "Inter", sans-serif;
}
